apiVersion: v1
kind: Pod
metadata:
  name: nginx-config-secret-pod
  labels:
    app: nginx
spec:
  containers:
  - name: nginx
    image: nginx:latest
    ports:
    - containerPort: 80
    volumeMounts:
    - name: config-volume
      mountPath: /etc/nginx/conf.d
    env:
    - name: USERNAME
      valueFrom:
        secretKeyRef:
          name: nginx-secret
          key: username
    - name: PASSWORD
      valueFrom:
        secretKeyRef:
          name: nginx-secret
          key: password
  volumes:
  - name: config-volume
    configMap:
      name: nginx-config
